
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/simple-sidebar.css' %}">

   <!-- OWL Carousel css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.css">
  <!-- Default Theme -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.css" >
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.transitions.css" >
  <!--//faction Slider Components  -->

</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
   	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse" id="header">
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
				<!--<a class="navbar-brand" href="{% url 'home' %}">-->
					<img src="{% static 'images/logo.png' %}" alt="Site Logo">
                </a>
			</div>
			<div class="navbar-collapse collapse">

				<ul class="nav navbar-nav pull-right mainNav">
					<li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'course_list' %}">Courses</a></li>
                    {% if request.user.is_authenticated %}
                         <li><a href="{% url 'logout' %}" id="logout-button"><span class="glyphicon glyphicon-log-out"> Signout </span></a></li>
                    {% else %}
                         <li><a href="{% url 'login' %}" id="login-button"><span class="glyphicon glyphicon-log-in"> Signin</span></a></li>
                         <li><a href="{% url 'manage_course_list' %}"><span class=""> Manage Courses</span></a></li>
                    {% endif %}
				</ul>

			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
	<!-- /.navbar -->


       <div id="main-content">
              {% block content %}
              {% endblock %}
       </div>

   <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>-->
   <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
   <script src="http://maxcdn.bootstrapcdn./bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <!--<script src="{% static 'js/owlcarousel/owl.carousel.js' %}"></script>-->


  <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
  <script src="{% static 'js/main.js' %}"></script>



    <script>
        $(document).ready(function() {
            {% block domready %}
            {% endblock %}
        });
    </script>

</body>
</html>

   <footer id="footer">
           <div class="container" id="footer2">
               <div class="row">
                   <div class="col-md-6 panel">
                       <div class="panel-body">
                           <p class="simpleNav">
                               <a href="{% url 'home' %}">Home</a>|
                               <a href="{% url 'course_list' %}">Courses</a>|
                           </p>
                       </div>
                   </div>

                   <div class="col-md-6 panel">
                       <div class="panel-body">
                           <p class="simpleNav" style="float: right">
                                Contact Us
                           </p>
                       </div>
                   </div>
               </div> <!-- End of row -->
            </div> <!-- end of footer 2 -->
   </footer>


  <!-- JQuery Plugin-->


