
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}OLS{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>-->
  <script src="http://maxcdn.bootstrapcdn./bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- Owl Carousel components-->
  <link rel="stylesheet" href="{% static 'css/owlcarousel/owl.carousel.css' %}">
  <!--<link rel="stylesheet" href="{% static 'css/owlcarousel/owl.theme.css' %}" >-->
  <link rel="stylesheet" href="{% static 'css/owlcarousel/owl.transitions.css' %}" >
  <link rel="stylesheet" href="{% static 'css/owlcarousel/custom_css.css' %}">

  <!-- Text Animation Components-->
   <link rel="stylesheet" href="{% static 'css/animate/animate.css' %}">
   <link rel="stylesheet" href="{% static 'css/animate/animate.min.css' %}">

    <script type="text/javascript" src="{% static 'js/jquery.fractionslider.js' %}"></script>

</head>

<body>
   <nav class="navbar navbar-inverse">
       <div class="container-fluid">
           <div class="navbar-header">
                   <a class="navbar-brand" href="index.html">
                       <img src="{% static 'images/logo.png' %}" alt="Site Logo">
                   </a>
           </div>

           <ul class="nav navbar-nav">
               <li><a href="#" style="color: #0b9ff3">Home</a></li>
               <li><a href="courses.html">Courses</a></li>
               <li><a href="index.html">Contact</a></li>
           </ul>

           <ul class="nav navbar-nav navbar-right">
               <li><a href="#" id="login-button"><span class="glyphicon glyphicon-log-in"> Login </span></a></li>
           </ul>
       </div>
   </nav> <!-- Navbar inverse -->

   <section id="main-slider">
       <div id="owl-demo" class="owl-carousel owl-theme">
            <div class="item">
                        <img src="{% static 'images/background/education.jpg' %}" >
                        <div class="center" id="el1">
                           <h2 > WELCOME TO OLE </h2>
                           <h3 >AN ONLINE LEARNING PLATFORM</h3>
                           <!--<h3 ><a href="#" class="icon"> <span class="glyphicon glyphicon-heart"></span></a></h3>-->
                        </div>
            </div>
       </div>
   </section>

<!-- Header -->

    <footer id="footer">
           <div class="container" id="footer2">
               <div>
                   <div class="col-md-6 panel">
                       <div class="panel-body">
                           <p class="simpleNav">
                               <a href="index.html">Home</a>|
                               <a href="courses.html">Courses</a>|
                               <a href="index.html">Contact</a>|
                           </p>
                       </div>
                   </div>

                   <div class="col-md-6 panel">
                       <div class="panel-body">
                           <p class="simpleNav" style="float: right">
                                Contact Us
                           </p>
                       </div>
                   </div>
               </div> <!-- End of row -->
            </div> <!-- end of footer 2 -->
   </footer>
 <script src="{% static 'js/main.js' %}"></script>
 <script src="{% static 'js/owlcarousel/owl.carousel.js' %}"></script>
 <script src="{% static 'js/owlcarousel/carousel.js' %}"></script>
</body>
</html>

